.img-container {
    .img {
        display: block;
        width: 100%;
    }
}

.tooltip {
    position: relative;
    &::after {
        content: attr(data-tooltip);
        position: absolute;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        padding-bottom: 2px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.85);
        background: rgba(107, 84, 153, 0.3);
        width: 50px;
        border-radius: 4px 4px 4px 0px;
        opacity: 0;
        line-height: 1;
      }
      &:hover::after,
      &:hover::before {
        opacity: 1;
      }
      &[data-position='top right']::after {
        top: -110%;
        left: 50%;
      }
  }


.dropdown {
  position: relative;
  .dropdown-container {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 100%;
    list-style: none;
    // display: none;
    border-radius: 4px;
    padding: 18px 0;
    background-color: #af9fff;

  }
  &:hover .dropdown-container {
    display: revert;
    z-index: 1;
  }
  
}